.html{
    width: 100%;
    height: 100%;
}

.background{
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: rgba(210, 180, 140, 0.87);
    border-radius: 10%;
    display: inline-block;
    top:5%;
    left:8%;
    margin-left: 22%;
    margin-top: 5%;
   
}

.h1{
    position: absolute;
    top:-2%;
    left:37%;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    color:  rgba(139, 69, 19, 0.877);
}

.turn{
    position: absolute;
    top:-1%;
    left:40%;
    font-size: 45px;
}

.table{
    position: absolute;
    top:8.5%;
    left:8.5%;
    border: 0.5px solid rgb(124, 120, 120);
    border-style: inset;  

}

.square {
    width: 100px;
    height: 100px;
    border-radius: 3%;
    
}

.blacksquare {
    background-color: rgba(139, 69, 19, 0.719);
}

.whitesquare {
    background-color: rgba(255, 248, 220, 0.822);
}

.pieceBlack{
    height: 60px;
    width: 60px;
    background-color: rgb(63, 68, 67);
    border-radius: 50%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 4.5%;
    align-items: center;
}

.pieceWhite{
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 4.5%;
    align-items: center;
}

.bar { 
    top:15px;
    left:15px;
    border-radius:50%;
    border:1px solid rgb(146, 118, 118); 
    border-width:3px;
    border-top-style:inset;
    border-right-style:inset;
    border-top-color: transparent;
    width:80px; 
    height:80px;
    position:absolute; 
    transform: rotate(40deg);
}

.selected{
    background-color: rgb(99, 76, 56);
}

.possible-move{
    background-color:  rgba(173, 150, 121, 0.973);
}

.winner{
    position: absolute;
    width:400px;
    top:43.5%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 80px;
    border: 8px solid rgb(155, 139, 139);
    padding: 5px;
    border-style: inset;  
}

.out{
    position: absolute;
    top:1000%;
    left:100%;
}

.gg-crown {
    box-sizing: border-box;
    position: absolute;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 19px;
    border: 2px solid;
    border-top-color: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 8px;
    top:35.5%;
    left:30%;
}

.gg-crown::after,
.gg-crown::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 11.6px;
    height: 9px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    top: -6px
}
.gg-crown::before {
    border-top-left-radius: 2px;
    left: -1px
}
.gg-crown::after {
    border-bottom-right-radius: 2px;
    right: -1px
}
