.html{
    width: 100%;
    height: 100%;
}

.table{
    position: absolute;
    top:15%;
    left:25%;
    border: 0.5px solid rgb(124, 120, 120);
    border-style: inset; 

}

.square {
    width: 100px;
    height: 100px;
    
}

.blacksquare {
    background-color: rgb(57, 59, 59);
}

.whitesquare {
    background-color: rgb(224, 218, 218);
}

.background{
    position: relative;
    left:14.5%;
    width: 1700px;
    height: 1200px;
    background-color: rgba(174, 202, 218 , 0.5);
}
